(ex-electronic-medical-record)=
# (EX) Electronic medical record
This example utilizes the [MIMIC III demo](https://physionet.org/content/mimiciii-demo/1.4/) dataset in illustrating the use of database using DuckDB.

*Quick notes about DuckDB:*  

- DuckDB is a relational database for analytics processing (i.e., OLAP)
- DuckDB is columnar-oriented
- DuckDB scales reasonably for *relatively* large datasets and works well for local development

In [57]:
import duckdb

In [63]:
# establish connection
conn = duckdb.connect('../lab/dataset/mimic.db', read_only=True)

conn.sql('SHOW TABLES;')

In [59]:
# metadata for add
conn.sql(
    """
    SELECT column_name, data_type FROM information_schema.columns 
    WHERE table_name = 'ICDPROCS';
    """
)

┌─────────────┬───────────┐
│ column_name │ data_type │
│   varchar   │  varchar  │
├─────────────┼───────────┤
│ row_id      │ INTEGER   │
│ icd9_code   │ INTEGER   │
│ short_title │ VARCHAR   │
│ long_title  │ VARCHAR   │
└─────────────┴───────────┘

In [55]:
# admission table at a glance
conn.sql(
    """
    
    """
)

┌────────┬────────────┬─────────┬─────────────────────┬───┬─────────────────────┬─────────────────────┬─────────────┐
│ row_id │ subject_id │ gender  │         dob         │ … │      dod_hosp       │       dod_ssn       │ expire_flag │
│ int32  │   int32    │ varchar │       varchar       │   │       varchar       │       varchar       │    int32    │
├────────┼────────────┼─────────┼─────────────────────┼───┼─────────────────────┼─────────────────────┼─────────────┤
│   9467 │      10006 │ F       │ 2094-03-05 00:00:00 │ … │ 2165-08-12 00:00:00 │ 2165-08-12 00:00:00 │           1 │
│   9472 │      10011 │ F       │ 2090-06-05 00:00:00 │ … │ 2126-08-28 00:00:00 │ NULL                │           1 │
│   9474 │      10013 │ F       │ 2038-09-03 00:00:00 │ … │ 2125-10-07 00:00:00 │ 2125-10-07 00:00:00 │           1 │
│   9478 │      10017 │ F       │ 2075-09-21 00:00:00 │ … │ NULL                │ 2152-09-12 00:00:00 │           1 │
│   9479 │      10019 │ M       │ 2114-06-20 00:00:00 │ … │ 2163-05-15 00:00:00 │ 2163-05-15 00:00:00 │           1 │
│   9486 │      10026 │ F       │ 1895-05-17 00:00:00 │ … │ NULL                │ 2195-11-24 00:00:00 │           1 │
│   9487 │      10027 │ F       │ 2108-01-15 00:00:00 │ … │ NULL                │ 2190-09-14 00:00:00 │           1 │
│   9489 │      10029 │ M       │ 2061-04-10 00:00:00 │ … │ NULL                │ 2140-09-21 00:00:00 │           1 │
│   9491 │      10032 │ M       │ 2050-03-29 00:00:00 │ … │ 2138-05-21 00:00:00 │ 2138-05-21 00:00:00 │           1 │
│   9492 │      10033 │ F       │ 2051-04-21 00:00:00 │ … │ NULL                │ 2133-09-09 00:00:00 │           1 │
│     ·  │        ·   │ ·       │          ·          │ · │  ·                  │          ·          │           · │
│     ·  │        ·   │ ·       │          ·          │ · │  ·                  │          ·          │           · │
│     ·  │        ·   │ ·       │          ·          │ · │  ·                  │          ·          │           · │
│  31784 │      43870 │ F       │ 2097-05-16 00:00:00 │ … │ 2186-02-12 00:00:00 │ 2186-02-12 00:00:00 │           1 │
│  31789 │      43879 │ F       │ 2051-07-25 00:00:00 │ … │ 2107-07-13 00:00:00 │ NULL                │           1 │
│  31790 │      43881 │ M       │ 2051-03-24 00:00:00 │ … │ 2105-02-16 00:00:00 │ 2105-02-16 00:00:00 │           1 │
│  31794 │      43909 │ F       │ 2073-11-22 00:00:00 │ … │ 2152-10-09 00:00:00 │ 2152-10-09 00:00:00 │           1 │
│  31800 │      43927 │ F       │ 2104-02-12 00:00:00 │ … │ 2176-09-09 00:00:00 │ 2176-09-09 00:00:00 │           1 │
│  31838 │      44083 │ M       │ 2057-11-15 00:00:00 │ … │ 2114-02-20 00:00:00 │ 2114-02-20 00:00:00 │           1 │
│  31853 │      44154 │ M       │ 1878-05-14 00:00:00 │ … │ 2178-05-15 00:00:00 │ 2178-05-15 00:00:00 │           1 │
│  31867 │      44212 │ F       │ 2078-06-16 00:00:00 │ … │ NULL                │ 2124-01-29 00:00:00 │           1 │
│  31870 │      44222 │ M       │ 2107-06-27 00:00:00 │ … │ 2182-08-03 00:00:00 │ NULL                │           1 │
│  31872 │      44228 │ F       │ 2112-10-22 00:00:00 │ … │ 2171-04-14 00:00:00 │ NULL                │           1 │
├────────┴────────────┴─────────┴─────────────────────┴───┴─────────────────────┴─────────────────────┴─────────────┤
│ 100 rows (20 shown)                                                                           8 columns (7 shown) │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

## Simple queries

In [47]:
# number of patients
conn.sql(
    """

    """
)

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          100 │
└──────────────┘

In [ ]:
# number of patients by gender
conn.sql(
    """

    """
)

In [ ]:
# take a glance at the ICUSTAY table
conn.sql(
    """

    """
)

## Derivative queries

In [ ]:
# calculate the age of each patient and include in the table above
conn.sql(
    """

    """
)

In [ ]:
# calculate the duration of admission before each patient is admitted to the ICU
conn.sql(
    """

    """
)

In [ ]:
# identify if a patient passes away when they are in the ICU
conn.sql(
    """

    """
)

## Additional reference queries

In [56]:
# 
conn.sql(
    """
    SELECT p.subject_id, p.dob, a.hadm_id,
        a.admittime, p.expire_flag
    FROM admissions a
    INNER JOIN patients p
    ON p.subject_id = a.subject_id
    ORDER BY admittime;
    """
)

In [51]:
 # 
conn.sql(
    """
    SELECT p.subject_id, p.dob, a.hadm_id,
        a.admittime, p.expire_flag,
        MIN (a.admittime) OVER (PARTITION BY p.subject_id) AS first_admittime
    FROM admissions a
    INNER JOIN patients p
    ON p.subject_id = a.subject_id
    ORDER BY a.hadm_id, p.subject_id;
    """
)

┌────────────┬─────────────────────┬─────────┬─────────────────────┬─────────────┬─────────────────────┐
│ subject_id │         dob         │ hadm_id │      admittime      │ expire_flag │   first_admittime   │
│   int32    │       varchar       │  int32  │       varchar       │    int32    │       varchar       │
├────────────┼─────────────────────┼─────────┼─────────────────────┼─────────────┼─────────────────────┤
│      10056 │ 2046-02-27 00:00:00 │  100375 │ 2129-05-02 00:12:00 │           1 │ 2129-05-02 00:12:00 │
│      42430 │ 2061-12-10 00:00:00 │  100969 │ 2142-11-26 21:20:00 │           1 │ 2142-11-26 21:20:00 │
│      41914 │ 2090-11-16 00:00:00 │  101361 │ 2145-12-01 18:13:00 │           1 │ 2145-12-01 18:13:00 │
│      42135 │ 2083-09-20 00:00:00 │  102203 │ 2127-07-23 15:21:00 │           1 │ 2127-07-23 15:21:00 │
│      44228 │ 2112-10-22 00:00:00 │  103379 │ 2170-12-15 03:14:00 │           1 │ 2170-12-15 03:14:00 │
│      10026 │ 1895-05-17 00:00:00 │  103770 │ 2195-05-17 07:39:00 │           1 │ 2195-05-17 07:39:00 │
│      40612 │ 2073-08-13 00:00:00 │  104697 │ 2159-11-17 03:28:00 │           1 │ 2159-11-17 03:28:00 │
│      10117 │ 2072-05-05 00:00:00 │  105150 │ 2138-11-09 18:08:00 │           1 │ 2138-06-05 17:23:00 │
│      10011 │ 2090-06-05 00:00:00 │  105331 │ 2126-08-14 22:32:00 │           1 │ 2126-08-14 22:32:00 │
│      41983 │ 1851-09-12 00:00:00 │  107689 │ 2151-09-12 17:04:00 │           1 │ 2151-09-12 17:04:00 │
│        ·   │          ·          │     ·   │          ·          │           · │          ·          │
│        ·   │          ·          │     ·   │          ·          │           · │          ·          │
│        ·   │          ·          │     ·   │          ·          │           · │          ·          │
│      10089 │ 2046-04-18 00:00:00 │  190301 │ 2132-08-05 18:48:00 │           1 │ 2132-08-05 18:48:00 │
│      44222 │ 2107-06-27 00:00:00 │  192189 │ 2180-07-19 06:55:00 │           1 │ 2180-07-19 06:55:00 │
│      10120 │ 2088-05-05 00:00:00 │  193924 │ 2115-05-12 14:52:00 │           1 │ 2115-05-12 14:52:00 │
│      42281 │ 2051-03-23 00:00:00 │  195911 │ 2119-10-17 05:58:00 │           1 │ 2119-10-17 05:58:00 │
│      10132 │ 2058-04-23 00:00:00 │  197611 │ 2123-08-23 20:00:00 │           1 │ 2123-08-23 20:00:00 │
│      44083 │ 2057-11-15 00:00:00 │  198330 │ 2112-05-28 15:45:00 │           1 │ 2112-05-04 08:00:00 │
│      40177 │ 2082-06-27 00:00:00 │  198480 │ 2169-05-06 23:16:00 │           1 │ 2169-05-06 23:16:00 │
│      10076 │ 2038-05-10 00:00:00 │  198503 │ 2107-03-21 21:16:00 │           1 │ 2107-03-21 21:16:00 │
│      10017 │ 2075-09-21 00:00:00 │  199207 │ 2149-05-26 17:19:00 │           1 │ 2149-05-26 17:19:00 │
│      10027 │ 2108-01-15 00:00:00 │  199395 │ 2190-07-13 07:15:00 │           1 │ 2190-07-13 07:15:00 │
├────────────┴─────────────────────┴─────────┴─────────────────────┴─────────────┴─────────────────────┤
│ 129 rows (20 shown)                                                                        6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────┘